main {
  text-align: left;
}

div.product-details {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

div.product-details .image-container {
  min-width: 16em;
}

div.product-details .image-container img {
  max-width: 16em;
  max-height: 16em;
}

p.price {
  white-space: nowrap;
  font-weight: bold;
  font-size: 180%;
  margin-top: 1.6em;
}
