ul#product-list {
  list-style: none;
  padding: 0;
}

ul#product-list li {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  margin-bottom: 0.4em;
}

ul#product-list li .image-container {
  min-width: 5em;
  text-align: center;
}

ul#product-list li div.image-container img {
  max-width: 5em;
  max-height: 5em;
}

ul#product-list li .middle-column {
  flex-grow: 1;
}

ul#product-list li .middle-column h2 {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.1em;
}

ul#product-list li .price-column {
  white-space: nowrap;
  margin: 1.4em 0;
}


